/*
Rojo: #eb1c24;
Amarillo: #f9db07;
Verde: #0fb048;
*/
.top-bar {
  height: 46px;
  border-bottom: 1px solid #666;
}
.top-bar,.top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button) {
  background: #fff;
  color: #666;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #666;
  color: #fff;
}
.top-bar-section li:not(.has-form) a:not(.button):hover .fa{
  color: #0faf4d;
}
.dropdown li:not(.has-form) a:not(.button) {
  background: #0faf4d;
  color: #fff;
}
.dropdown li:not(.has-form) a:not(.button):hover {
  background: #272727;
  color: #0faf4d;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #f9db07;
  color: #666;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #666;
  color: #fff;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover .fa{
  color: #f9db07;
}
.dropdown li.active:not(.has-form) a:not(.button) {
  background: #f9db07;
  color: #fff;
}
.dropdown li.active:not(.has-form) a:not(.button):hover {
  background: #272727;
  color: #f9db07;
}
.top-bar-section ul li>p {
  width: 100%;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
  background: #fff;
  color: #333;
  line-height: 45px;
}
.top-bar .title-area li h1 a{
  width: 45px;
  height: 45px;
  background: url(../images/logo.jpg) no-repeat 0 0;
  text-indent: -9999px;
  margin: 0 20px 0 20px;
}
.fa{
  margin: 3px 7px 0 0;
  font-size: 20px;
  vertical-align: text-bottom;
}
.content {
  margin-top: 20px;
}
button, .button {
  background-color: #0fb048;
  border-color: #0fb048;
  color: #fff;
}
a {
  color: #eb1c24;
}
a:hover {
  color: #0fb048;
}
.coeficiente {
  margin: 0px 0px 10px 0;
  border-radius: 10px;
  border: 1px solid #666;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.c1 {background-color: #eb1c24;}
.c2 {background-color: #f9db07;}
.c3 {background-color: #0fb048;}

.coeficiente h2 {
  text-align: center;
  color: #fff;
  padding: 30px 0 0px 0;
}
.coeficiente p {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  padding: 0px 0 0px 0;
}
.coeficiente .icon {
  position: absolute;
  width: 115px;
  height: 83px;
  opacity: 0.5;
  top: 120px;
  right: 0px;
}
.coeficiente .icon i{
  font-size: 150px;
  color: #fff;
  height: 86px;
  overflow: hidden;
}
.c2 h2 {color: #666;}
.c2 p {color: #666;}
.edit {font-size: 20px;}

/*
.datepicker {
  .prev, .next {font-style:normal;}
  .prev:after {content:"Â«";}
  .next:after {content:"Â»";}
}
*/
/*!
 * Datepicker for Foundation - less stylesheet, just version customized to foundation
 *
 * Copyright 2013 Peter Beno, najlepsiwebdesigner@gmail.com, @benopeter
 * project website http://foundation-datepicker.peterbeno.com
 *
 * Original project https://github.com/eternicode/bootstrap-datepicker
 *    Original author 2012 Stefan Petre
 *    Improvements by Andrew Rowls
 *    Licensed under the Apache License v2.0
 *    http://www.apache.org/licenses/LICENSE-2.0
 */.datepicker.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;min-width:160px;list-style:none;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;*border-right-width:2px;*border-bottom-width:2px;color:#333;font-family:"Open Sans",sans-serif;font-size:13px;line-height:18px}.datepicker.dropdown-menu th,.datepicker.dropdown-menu td{padding:4px 5px}.datepicker{display:none;position:absolute;padding:4px;margin-top:1px;direction:ltr}.datepicker-inline{width:220px}.datepicker-rtl{direction:rtl}.datepicker-rtl table tr td span{float:right}.datepicker-dropdown{top:0;left:0}.datepicker-dropdown:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,.2);position:absolute;top:-7px;left:6px}.datepicker-dropdown:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px}.datepicker>div{display:none}.datepicker.days div.datepicker-days{display:block}.datepicker.months div.datepicker-months{display:block}.datepicker.years div.datepicker-years{display:block}.datepicker table{border:0;margin:0}.datepicker td,.datepicker th{text-align:center;width:20px;height:20px;border:0;font-size:12px;padding:4px 8px;background:#fff;cursor:pointer}.datepicker td.active.day,.datepicker th.active.day{background:#2ba6cb}.datepicker td.active.year,.datepicker th.active.year{background:#2ba6cb}.datepicker td span.active,.datepicker th span.active{background:#2ba6cb}.table-striped .datepicker table tr td,.table-striped .datepicker table tr th{background-color:transparent}.datepicker table tr td span{display:block;width:23%;height:54px;line-height:54px;float:left;margin:1%;cursor:pointer}.datepicker th.date-switch{width:145px}.datepicker thead tr:first-child th,.datepicker tfoot tr:first-child th{cursor:pointer}.datepicker .cw{font-size:10px;width:12px;padding:0 2px 0 5px;vertical-align:middle}.datepicker thead tr:first-child th.cw{cursor:default;background-color:transparent}.datepicker-dropdown::before,.datepicker-dropdown::after{display:none}.datepicker-close{position:absolute;top:-30px;right:0;width:15px;height:30px;padding:0;display:none}.datepicker td.old,.datepicker td.new{color:#999}.datepicker td.day.disabled{color:#eee}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */

.item_id {
  display: none;
}
.stockmin {
  background-color: #feffa6 !important;
}
.sinstock {
  background-color: #f0d4d4 !important;
}
